.p-contact {
    font-size: 3rem;
    max-width: 60%;
    margin: 0 auto;
    line-height: 1.2;
    padding-top: 2rem;
    text-align: center;
}

.contact-body {
    display: flex;
    margin: 6rem auto;
    // width: 80%;
}

.contact-form ,
.contact-body-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.contact-form {
    // background:coral;
    
    padding-bottom: 10rem;
    max-height: 100%;
    
    .write-here {
        border: none;
        font-size: 2rem;
        color: rgb(24, 61, 63);
        background: rgba(202, 148, 148, 0.63);
        border-radius: 5px;
        margin-bottom: 3rem;
        width: 50rem;
        height: 4rem;
        outline: none;
        transition: ease-in-out 1000ms;
        padding-left: 10px;
    }
    textarea {
        width: 50rem;
        height: 12rem;
        border: none;
        color: cadetblue;
        background: rgba(212, 174, 174, 0.63);
        border-radius: 5px;
        outline: none;
        font-size: 2rem;
    }
}

.write-here:focus {
    height: 5rem;
    width: 50rem;
    background: whitesmoke;
    transition: ease-in-out 500ms;
}
.write-here::placeholder {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}



.contact-body-right {
    a {
        color: blue;

    }
    .contact-h5 {
        font-size: 3rem;
        font-weight: 400;
        margin: 3rem 0;
    }
}