.choose-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    h4 {
        margin-right: 1.5rem;
    }
    #btnContainer {
        .btn {
            border: none;
            outline: none;
            padding: .8rem 1.4rem;
            margin: 0 1.6rem;
            background-color: #ffffff;
            cursor: pointer;
        }
        .btn:hover {
            background-color: rgba(25, 211, 140, 0.335);
            border-radius: 5px;
        }
        .btn.active {
            background-color: rgba(18, 151, 100, 0.424);
            border-radius: 5px;
            color: rgb(0, 0, 0);
        }
    }
}


/* Post Styling */
.container {
    margin-top: 20px;
    overflow: hidden;
    h2 {
        line-height: 1;
    }
  }
.filterDiv {
    float: left;
    width: 32%;
    text-align: center;
    margin: 2px;
    display: none;
    padding: 0 1%;
    line-height: 1.2;
    min-height: 500px;
    margin-bottom: 40px;
    .latest-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    h3 {
        height: min-content
    }
    p {
        text-align: left;
    }
}
.show {
    display: block;
    float: left;
}

