@media (max-width:1300px){
    .choose-nav {
        padding: 3rem 0;
        #btnContainer .btn {
            margin: 0 .8rem;
        }
    }
    .stories {
        margin: unset;
        width: 70%;
    }
    .stories article {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .article-text {
        max-width: 600px;
    }
    .contact-body {
        max-width: 100%;
    }
    .p-contact {
        max-width: 90%;
    }
    .contact-body-right {
        .contact-h5 {
            max-width: 100%;
            font-size: 2.6rem;
        }
    }
}

@media (max-width:1200px){
    header nav {
        position: static;
    }
    header nav ul :nth-child(4) {
        position: static;
    }
    .break-line {
        display: none;
    }
}
@media (max-width: 1000px) {
//Navigation on Tablet / Mobile
    
   

//END NAV

    .filterDiv {
        width: 48%;
    }
    .sidebar {
        display: none;
    }
    .p-contact {
        max-width: 100%;
    }
    .contact-body {
        flex-direction: column;
    }
}

@media all and (max-width:700px) {


//Home Page
    .hero {
        margin-top: 0;
        padding: 0;
        text-align: center;
    }
    .hero-carousel {
        max-height: 50vh;
    }
    .posts-wrapper {
        flex-direction: column;
        .latest-posts {
            margin: 0 auto 2rem;
            width: 100%;
        }
    }
    .latest-section {
        margin-bottom: 50px;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        padding-left: 10%;
        padding-top: 0%;
        .subscribe-text {
            grid-auto-rows: auto;
        }
        .subscribe-form {
            // padding: 0;
            // width: 100%;
            // align-self: center;
            padding-right: 10%;
        }
    }

// Ideas and Resources
    .top-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 4.8rem;
        }
        .choose-nav {
            padding: 1rem;
            margin: 0 auto;
            margin-top: 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #btnContainer {
                margin-top: 1rem;
                width: 100%;
                .btn {
                    margin: 0;
                    padding:.6rem 1rem;
                }
            }
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .filterDiv {
        width: 100%;
    }
//Experiences
    .stories {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }
    .stories .article-text {
        width: 100%;
        padding: 0;
        margin: 0;
    }

//Contact
    .contact-form {
        align-items: right;
        textarea {
            width: 100%;
        }
    }
    .contact-body-right {
        all: initial;
        h3 {
            font-size: 3rem;
        }
    }
    .contact-form .write-here {
        width: 100%;
    }
    .formInput {
        width: 100%;
    }
}
