.page-title {
        font-size: 7.2rem;
}

.stories {
    margin: 6rem 0;
    padding: 0 4rem;
    article {
        display: flex;
        margin-bottom: 6rem;
    }
    img {
        padding-left: 2rem;
    }
}

