html {
    font-size: 62.5%;  //this is so that I can use rems where 1rem = 10px; Using rems help with accessibility 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
main {
    width: 90%;
    max-width: 2048px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 2rem;
}
header{
    width: 90%;
    max-width: 2048px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    // margin-bottom: 30px;
    #logo {
        font-size: 4.8rem;
        margin-right: 15px;
        font-weight: 100;
        color: black;
        width: auto;
        margin-right: 10px;
        display: flex;
        justify-self: center;
    }
    .break-line {
        width: 1px;
        height: 6rem;
        background: rgb(131, 131, 131);
        margin: 0 8px;
    }
    nav {
        flex:1;
        align-self: center;
        display: flex;
        margin-bottom: 5px;
        position: relative;
        width: 100%;
        ul {
            display: flex;
            li {
                font-size: 2.4rem;
                padding: 5px 15px;
                font-weight: 300;
                
            }
            :nth-child(4){
                position: absolute;
                right: 0;
            }
        }
        a::before {
            content: '';
            display: block;
            width: 100%;
            height:2px;
            background: rgb(85, 83, 182);
            transform: scale(0,1);
            transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 400ms;
        }
        a:hover::before {
            transform: scale(1,1);
        }
    }
}
footer{
    background: darkgray;
    padding: 4rem 0;
   
    .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 2048px;
        margin: 0 auto;
    }
    .social-media-icons {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        // padding-bottom: 20px;
        z-index: 2;
    }
    .fa {
        padding: 12px;
        font-size: 2rem !important;
        text-align: center;
        text-decoration: none;
        width: auto;
        min-width: 4rem;
        border-radius: 50%;
        margin: 0 10px;
    }
    .fa:hover {
        opacity: 0.6;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .fa-instagram {
        color: white;
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    }
    .fa-twitter{
          background-color: #1da1f2;
          color: white;
    }
    .fa-youtube {
          background-color: #FF0000;
          color: white;
    }
    .fa-arrow-circle-up {
        font-size: 4rem !important;
        padding-left: 0%;
        margin-left: 0;
    }
}

a {
    color: #470FF4;
}
a:hover {
    transition: ease-in-out 200ms;
    color: #4056F4;
}



h1{
    font-size: 5rem;
    line-height: 1.1;
}
h4{
    font-size: 2rem;
    line-height: 1.1;
}
p{
    font-size: 2rem;
    line-height: 1.5;
}

.page-title {
    font-size: 7.2rem;
}


@import 'home';
@import 'experiences';
@import 'filter';
@import 'contact';
@import 'mobile';